* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,
body {
  height: 100%;
  width: 100%;
}
:root {
  --x: 50%;
  --y: 50%;
}
body {
  background-image: url(https://images.unsplash.com/photo-1763142214243-ce43ef3a0221?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
.box {
  height: 100%;
  width: 100%;
  background: radial-gradient(
    100px at var(--x) var(--y),
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.979)
  );
}
