.face-exp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  video {
    width: 450px;
    border-radius: 0.7rem;
  }
  .detect {
    color: rgb(233, 231, 231);
  }
  .detect-btn {
    padding: 0.7rem 1rem;
    text-align: center;
    margin-right: 1rem;
    border: none;
    border-radius: 0.7rem;
    cursor: pointer;
    background: rgb(38, 214, 38);
    font-weight: 700;
    color: rgb(2, 2, 2);
  }
  & :active {
    transform: scale(0.9);
  }
}
