* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,
body {
  height: 100%;
  width: 100%;
  background: rgb(62, 61, 61);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box {
  height: 300px;
  width: 300px;
  border: 3px solid white;
  background-color: rgb(146, 150, 150);
}
button{
  padding: 1rem;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  margin-top: 2rem;
}