@mixin flex-column($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .form-container {
    @include flex-column(0.7rem);
    min-width: 30vw;
  }

  form {
    @include flex-column(0.7rem);

    input {
      padding-inline: 0.3rem;
      padding-block: 0.6rem;
      border-radius: 0.8rem;
      border: none;
      outline: none;
    }
  }
}
