@font-face {
  font-family: f1;
  src: url(./RUSTY\ ATTACK\ DEMO\ Regular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background-color: #000000;
  background-image: url(https://images.unsplash.com/photo-1741143897219-e39147165ace?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  text-align: center;
  padding-top: 45px;
  /* background-position: center; */
}
h1 {
  font-size: 60px;
  font-weight: 900;
  font-family: f1;
  color: #712f0b;
}
button {
  padding: 10px 25px;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 20px;
  background-color: transparent;
  color: rgb(23, 23, 23);
  font-weight: bolder;
  font-family: f1;
  border: 1px solid #dfe3e4;
  border-radius: 50px;
  cursor: pointer;
}
button:hover {
  background-color: #712f0b;
  color: white;
  transition: 0.7s ease-in-out;
}
