*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
}
main{
  width: 100%;

  @mixin heros-style{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 0rem;
    background: linear-gradient(to left bottom,  #F5FBFE,#F9FCEC,#f7fbe5 );

    .hero3-top{
      width: 100%;
      display: flex;
      align-items: center;

      img{
        width: 100%;
        padding: 0.5rem 0.8rem;
      }

    }
    .hero3-bottom{
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      gap: 1.5rem;

      h4{
        font-size: 1.2rem;
        font-weight: 400;
      }
      h1{
        font-size: 3rem;
        font-weight: 700;
      }
      p{
        font-size: 1.1rem;
        padding-right: 4rem;
        font-weight: 400;
      }

      .hero3-buttons{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        button{
          cursor: pointer;
          width: fit-content;
          padding: 1rem 2rem;
          border-radius: 3rem;
          border: 2px solid rgb(8, 159, 241);
          font-size: 1rem;
          font-weight: 500;
          color:rgb(8, 159, 241);
          background: transparent;
        }
        a{
          cursor: pointer;
          text-decoration: none;
          font-size: 1rem;
          padding-left: 2rem;
          color: black;
          font-weight: 500;
        }
      }
  }
  }

  header{
    text-align: center;
    font-size: 0.7rem;
    padding: 1rem;
    width: 100%;
    background: linear-gradient(to right , rgb(47, 47, 253), rgb(94, 94, 255),rgb(89, 89, 219) );
    color: white;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  nav{
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem;
    position: sticky;
    top: 2.8rem;   
    z-index: 1;

    .leftNav{
      display: flex;
      align-items: center;
      text-align: left;
      cursor: pointer;

      h2{
        font-size:2rem;
        font-weight: 400;
      }
    }
    .rightNav{
      font-size: 1.3rem;
      font-weight: 600;
      margin-right: 5%;
      cursor: pointer;
    }


  }

  section.hero{
    width: 100%;
    background:linear-gradient(to bottom, #F3FCFF ,#f2fafd , #fadbeb);
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: 6rem;

    .heroTop{
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      padding-bottom: 2rem;
      // background-color:#F3FCFF;

      .heroLeft{
        width: 100%;
        text-align: center;

        h1{
          font-size: 3rem;
          padding: 0rem 2rem;
          line-height: 1.1;
        }

      }
      .heroRight{
        width: 100%;

        img{
          width: 100%;
          padding: 3rem 1.2rem;
        }
      }
    }
    .heroBottom{
      width: 100%;
      display: flex;

      h2{
        width: 100%;
        text-align: center;
        font-size: 2.1rem;
        font-weight: 500;
        padding: 0rem 1.8rem;
        font-family: sans-serif;
      }
    }


  }

  section.hero2{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 0rem;
    // background-color: beige;

    .community,.events,.packages{
      padding: 2rem 0rem;
      border-top:4px solid rgb(204, 204, 204);
      width: 95%;
      display: flex;
      flex-direction: column;
      margin: 0rem 0.7rem;
      gap: 1rem;

      h3{
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
        padding-left: 0.5rem;
      }

      p{
        font-size: 1.2rem;
        padding-right: 2rem;
        padding-left: 0.5rem;
      }

      img{
        width: 100%;
        padding: 1.8rem 0rem;
      }

    }
  }

  section.hero3{
    @include heros-style;
    background: white;
  }

  section.hero4{
    @include heros-style;
  }

  section.hero5{
    @include heros-style;
    background: white;
  }

  section.hero6{
    @include heros-style;
  }
  .bottomCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 1.5rem;

    .card{
      width: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 3rem;
      gap: 1rem;
      padding: 6rem 1.5rem;
      background-image: url(./bottomsection.png);
      background-position: center;
      background-size: cover;
      background-color: #042449;
      color: white;

      h1{
        font-size: 3.2rem;
        font-weight: 500;
      }
      p{
        font-size: 1.2rem;
        font-weight: 400;
      }
      .bottomBtn{
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 1.5rem;

        button{
          cursor: pointer;
          font-size: 1rem;
          color: rgb(66, 66, 253);
          padding: 0.5rem;
          border: none;
          border-radius: 5rem;
        }
        a{
          cursor: pointer;
          text-decoration: none;
          color: white;
          font-size: 1rem;
          padding-left: 2.5rem;
        }
      }
    }
    }


}

@media (min-width: 1024px) {
  main{
    width: 100%;

    section.hero{
      width: 100%;
      flex-direction: column;
      background: linear-gradient(to left bottom, #F3FCFF ,#e7f4f9 , #fed0e8);

      .heroTop{
        flex-direction: row;
        padding: 0rem 3rem;

        .heroLeft>h1{
          font-size: 4.2rem;
          font-weight: 700;
          text-align: left;
          margin-left: 2rem;
        }
      }

      .heroBottom{
        padding: 0rem 8rem;
        text-align: center;

        h2{
          padding: 1rem 4rem;
        }
      }
    }
    section.hero2{
      flex-direction: row;
      padding:4rem 1.8rem;

      .community,.events,.packages{
        width: 100%;
        border-top:4px solid rgb(229, 229, 229);
        gap: 0.2rem;

        h3{
          font-size: 1.8rem;
          font-weight: 700;
        }
        p{
          color: rgb(103, 102, 102);
          font-size: 1.3rem;
          line-height: 1.4;
        }
        img{
          margin-top: 2rem;
          width: 90%;
        }
      }
    }
    section.hero3{
      width: 100%;
      flex-direction: row-reverse;
      align-items: center;
      padding: 0rem 4rem;

      .hero3-top{
        width: 80%;
      }

      .hero3-bottom {
        width: fit-content;
        padding: 0rem 2rem;
        gap: 0.2rem;

        h4{
        font-size: 1.3rem;
        font-weight: 600;
        }
        h1{
          font-size: 3.7rem;
          font-weight: 700;
        }
        p{
          padding-top: 1.3rem;
          padding-right: 9rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .hero3-buttons{
          display: flex;
          flex-direction: row;
          padding: 1.8rem 0rem;
          align-items: center;
          gap: 0;

          button{
            padding: 0.5rem 1.5rem;
            border: 1px solid rgb(8, 159, 241);
            color: rgb(16, 67, 235);
            font-size: 1rem;
          }
          a{
            font-size: 0.9rem;
            font-weight: 600;
          }
        }

      }
        

    }
    section.hero4{
      width: 100%;
      flex-direction: row;
      align-items: center;
      padding: 2rem 4rem;

      .hero3-top{
        width: 80%;
      }

      .hero3-bottom {
        width: 100%;
        padding: 0rem 2rem;
        gap: 0.2rem;
        margin-left: 5%;

        h4{
        font-size: 1.3rem;
        font-weight: 600;
        }
        h1{
          font-size: 3.7rem;
          font-weight: 700;
          line-height: 1;
        }
        p{
          padding-top: 1.3rem;
          padding-right: 9rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .hero3-buttons{
          display: flex;
          flex-direction: row;
          padding: 1.8rem 0rem;
          align-items: center;
          gap: 0;

          button{
            padding: 0.5rem 1.5rem;
            border: 1px solid rgb(8, 159, 241);
            color: rgb(16, 67, 235);
            font-size: 1rem;
          }
          a{
            font-size: 0.9rem;
            font-weight: 600;
          }
        }

      }
        

    }
    section.hero5{
      width: 100%;
      flex-direction: row-reverse;
      align-items: center;
      padding: 0rem 4rem;

      .hero3-top{
        width: 80%;
      }

      .hero3-bottom {
        width: fit-content;
        padding: 0rem 2rem;
        gap: 0.2rem;

        h4{
        font-size: 1.3rem;
        font-weight: 600;
        }
        h1{
          font-size: 3.7rem;
          font-weight: 700;
        }
        p{
          padding-top: 1.3rem;
          padding-right: 9rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .hero3-buttons{
          display: flex;
          flex-direction: row;
          padding: 1.8rem 0rem;
          align-items: center;
          gap: 0;

          button{
            padding: 0.5rem 1.5rem;
            border: 1px solid rgb(8, 159, 241);
            color: rgb(16, 67, 235);
            font-size: 1rem;
          }
          a{
            font-size: 0.9rem;
            font-weight: 600;
          }
        }

      }
        

    }
    section.hero6{
      width: 100%;
      flex-direction: row;
      align-items: center;
      padding: 0rem 4rem;

      .hero3-top{
        width: 80%;
      }

      .hero3-bottom {
        width: fit-content;
        padding: 1rem 2rem;
        gap: 0.2rem;

        h4{
        font-size: 1.3rem;
        font-weight: 600;
        }
        h1{
          font-size: 4rem;
          font-weight: 700;
          line-height: 1;
        }
        p{
          padding-top: 1.3rem;
          padding-right: 9rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .hero3-buttons{
          display: flex;
          flex-direction: row;
          padding: 1.8rem 0rem;
          align-items: center;
          gap: 0;

          button{
            padding: 0.5rem 1.5rem;
            border: 1px solid rgb(8, 159, 241);
            color: rgb(16, 67, 235);
            font-size: 1rem;
          }
          a{
            font-size: 0.9rem;
            font-weight: 600;
          }
        }

      }
        

    }
    .bottomCard{
      width: 100%;
      padding: 2rem 3rem;

      .card{
        width: 100%;
        padding: 5rem 6rem;
        background-size: cover;
        line-height: 1.1;
        background:linear-gradient(to right, #042449);

        h1{
          font-size: 3.5rem;
          font-weight: 700;
        }
        p{
          font-weight: 600;
        }
        .bottomBtn{
          width: 100%;
          flex-direction: row;
          align-items: center;
          gap: 0.1rem;

          button{
            width: fit-content;
            padding: 0.5rem 1.5rem;
            color: blue;
            font-weight: 700;
          }
          a{
            width: 100%;
            font-weight: 700;
            font-size: 0.8rem;
          }

        }
      }
    }
  }
}


















    // .events{
    //   padding: 2rem 0rem;
    //   border-top:4px solid rgb(204, 204, 204);
    //   width: 95%;
    //   display: flex;
    //   flex-direction: column;
    //   margin: 0rem 0.7rem;
    //   gap: 1rem;

    //   h3{
    //     font-size: 1.5rem;
    //     font-weight: 600;
    //     margin-bottom: 1rem;
    //     padding-left: 0.5rem;
    //   }

    //   p{
    //     font-size: 1.2rem;
    //     padding-right: 2rem;
    //     padding-left: 0.5rem;
    //   }

    //   img{
    //     width: 100%;
    //     padding: 1.8rem 0rem;
    //   }

    // }
    // .packages{
    //   padding: 2rem 0rem;
    //   border-top:4px solid rgb(204, 204, 204);
    //   width: 95%;
    //   display: flex;
    //   flex-direction: column;
    //   margin: 0rem 0.7rem;
    //   gap: 1rem;

    //   h3{
    //     font-size: 1.5rem;
    //     font-weight: 600;
    //     margin-bottom: 1rem;
    //     padding-left: 0.5rem;
    //   }

    //   p{
    //     font-size: 1.2rem;
    //     padding-right: 2rem;
    //     padding-left: 0.5rem;
    //   }

    //   img{
    //     width: 100%;
    //     padding: 1.8rem 0rem;
    //   }

    // }