* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
header {
  height: 7rem;
  width: 100%;
  background: rgb(61, 59, 59);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: black;
}
h2 .logo {
  height: 4rem;
  display: flex;
  float: left;
  padding-right: 0.6rem;
}
i {
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
}
section {
  height: 100%;
  width: 100%;
  background: rgb(29, 28, 28);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 0.4rem;
}
h2 {
  color: white;
  font-size: 2rem;
}
#piano-container {
  height: 15rem;
  width: fit-content;
  border: 1px solid rgb(255, 255, 255);
  padding-bottom: 0.4rem;
  border-radius: 0.2rem;
}
.pianoButtons {
  user-select: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pianoButtons .white {
  height: 100%;
  width: 3rem;
  border: 1px solid black;
  font-size: 1.5rem;
  background-color: rgb(215, 209, 209);
  color: black;
  display: flex;
  align-items: end;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.3rem;
  box-shadow: 0 3px 4px white;
}
.pianoButtons .white:active {
  scale: 0.97;
  background: rgb(125, 125, 125);
}
