.card {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid rgb(121, 119, 119);
  background-color: rgba(62, 59, 59, 0.406);

  .card-top {
    img {
      height: 10rem;
      border-radius: 0.5rem;
    }

    h2 {
      color: white;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  .card-bottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
      font-size: 0.9rem;
      font-weight: 500;
      padding-inline: 0rem 2rem;
      color: rgb(175, 173, 173);
      opacity: 0.9;
    }

    .card-tags button {
      padding: 0.5rem;
      margin: 0.3rem;
      cursor: pointer;
      border-radius: 1rem;
      border: none;
      background-color: rgba(221, 215, 215, 0.315);
      color: white;
      font-weight: 600;
      transition: all 0.4s linear;
    }
    .card-tags button:active {
      transform: scale(0.8);
    }

    .card-links {
      display: flex;
      align-items: center;
      gap: 1.4rem;
      padding-inline: 0.5rem 2rem;
      margin-top: 0.8rem;
    }
    .card-links a {
      color: rgb(32, 118, 247);
      text-decoration: none;
      font-size: 1.05rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.4rem 0.2rem;
      transition: all 0.2s ease;
    }

    .card-links a i {
      font-size: 1.2rem;
    }
  }
}
