* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
#container {
  height: 100%;
  width: 100%;
}
.header {
  width: 100%;
  height: 230px;
  background: #100e28;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 13px;
}
h5 {
  font-style: italic;
  font-weight: 100;
  font-size: small;
  font-weight: 200;
}
.about {
  width: 80%;
  height: 180px;
  background-color: rgb(243, 243, 243);
  margin: 20px 130px;
  text-align: center;
  padding-top: 50px;
}
h3 {
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 10px;
}
p {
  padding: 0px 35px;
  font-weight: 100;
  font-family: "Times New Roman", Times, serif;
}
.education {
  width: 80%;
  height: 230px;
  margin: 20px 130px;
  text-align: center;
  padding-top: 40px;
  background-color: rgb(183, 235, 249);
}
.education h3 {
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 15px;
}
.education h5 {
  padding: 10px 20px;
  background-color: #fff;
  margin: 10px 200px;
  font-weight: 500;
}
.skills {
  height: 280px;
  width: 80%;
  background-color: #ecbf66;
  text-align: center;
  margin: 20px 130px;
  padding: 40px;
}
.skills h5 {
  padding: 10px 20px;
  background-color: white;
  margin: 10px 220px;
  font-weight: 800;
  font-size: 14px;
}
.projects {
  height: 240px;
  width: 80%;
  background-color: rgb(233, 221, 245);
  margin: 20px 130px;
  padding: 30px;
  text-align: center;
}
.projects h3 {
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 5px;
}
.projects h5 {
  padding: 10px 20px;
  background-color: white;
  margin: 10px 180px;
  font-size: 14px;
}
.contact {
  height: 240px;
  width: 80%;
  background-color: rgb(205, 245, 228);
  margin: 20px 130px;
  padding: 30px;
  text-align: center;
}
.contact h3 {
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 5px;
}
.contact h5 {
  padding: 10px 20px;
  background-color: white;
  margin: 10px 240px;
  font-size: 14px;
}
