@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

main.feed-page {
  @include flex-center;
  height: 100vh;
  background: #000;

  .feed {
    width: 100%;
    max-width: 470px;
    height: 100%;
    @include flex-column;

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.8rem 1rem;
      position: sticky;
      top: 0;
      z-index: 10;
      background: #000;

      .nav-homebtn {
        font-weight: 600;
        font-size: 1.2rem;
      }

      .createBtn {
        padding: 0.5rem 0.8rem;
        border-radius: 6px;
        border: none;
        background: rgb(192, 20, 20);
        color: #fff;
        font-weight: 600;
        cursor: pointer;
      }
    }

    .posts {
      flex: 1;
      overflow-y: auto;
      background-color: #111;
      border: 2px solid #f5f3f3;
      border-radius: 12px;

      &::-webkit-scrollbar {
        display: none;
      }

      .users {
        @include flex-column;
        gap: 0.6rem;
        padding: 0.8rem;

        .user-profile {
          display: flex;
          align-items: center;
          gap: 0.7rem;

          h4 {
            font-weight: 500;
            font-size: 0.95rem;
          }

          .img-wrapper {
            @include flex-center;

            img {
              height: 2.6rem;
              width: 2.6rem;
              object-fit: cover;
              border-radius: 50%;
              border: 2px solid #ff0066;
            }
          }
        }

        .user-post {
          width: 100%;
          max-height: 90vh;
          object-fit: cover;
        }

        .icons {
          display: flex;
          justify-content: space-between;
          padding: 0.6rem 0.2rem;

          button {
            background: transparent;
            border: none;
            cursor: pointer;
          }

          svg {
            height: 1.6rem;
            color: #fff;

            &.like {
              color: red;
            }
          }

          .left-icons,
          .right-icons {
            display: flex;
            gap: 0.9rem;
          }
        }

        .caption {
          font-size: 0.9rem;
          padding: 0 0.2rem 0.8rem;
          border-bottom: 1px solid rgb(44, 43, 43);
        }
      }
    }
  }
}

@media (max-width: 600px) {
  main.feed-page {
    .feed {
      max-width: 100%;

      .posts {
        border: none;
        border-radius: 0;
      }

      .img-wrapper img {
        height: 2.3rem;
        width: 2.3rem;
      }

      .icons svg {
        height: 1.4rem;
      }

      .caption {
        font-size: 0.85rem;
      }
    }
  }
}

@media (min-width: 601px) {
  main.feed-page {
    .feed {
      max-width: 500px;
    }
  }
}
