html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-color: black;
  color: white;
  background-image: url(https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.windowContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 2%;
  left: 30%;
  opacity: 1;
}

.rightClick {
  height: 10rem;
  width: 8rem;
  border: 1px solid black;
  border-radius: 0.6rem;
  padding: 1rem 1rem;
  background-color: #fff;
  color: black;
  font-weight: 500;
  position: fixed;
  display: none;
  z-index: 1000;
}
.rightClick .menu-item {
  display: flex;
  gap: 0.3rem;
  padding-bottom: 0.8rem;
}
#rightClickMenu .menu-item:hover {
  background: #aaaaaa48;
  cursor: pointer;
}

.bottomSearch {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bottomSearch img {
  cursor: pointer;
}

.bottomSearch img:hover {
  box-shadow: 0 0 20px white;
  border-radius: 20%;
}

.bottomSearch input {
  width: 20%;
  border-radius: 1rem;
  border: none;
  padding: 0.4rem;
  font-weight: 700;
  outline: none;
}
