main {
  border: 2px solid white;
  padding-inline: 2rem;
  padding-block: 4rem;
  color: whitesmoke;

  .login-container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }
}
