.login-container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;

      input{
        padding: 0.7rem;
        border-radius: 0.6rem;
        border: none;
      }
    }
  }
}
