* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,
body,
#root {
  height: 100%;
  width: 100%;
  color: white;
}
html {
  background-color: #212121;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.users {
  display: flex;
  flex-wrap: wrap;
  padding-block: 1rem;
  padding-inline: 1rem;
  gap: 1rem;
}

.user {
  padding: 1rem;
  max-width: 20rem;
  border-radius: 0.7rem;
  background-color: #3f3e3e;
}

.user .btn{
  display: flex;
  gap: 1rem;
}

.user button {
  margin-top: 1rem;
  padding: 0.3rem 0.8rem;
  font-weight: 700;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
}
button:active {
  transform: scale(0.85);
}

.create-user-form {
  display: flex;
  gap: 1rem;
  padding-inline: 1rem;
  padding-block: 1rem;
}

input {
  padding-block: 0.5rem;
  padding-inline: 1.2rem;
}
