@use "./button.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  background: #131313;
  color: whitesmoke;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  a {
    color: rgb(233, 8, 76);
    text-decoration: none;
  }

  .landing {
    text-align: center;
    margin-top: 14rem;
  }
}

.createBtn {
  padding: 0.7rem;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  margin-top: 0.5rem;
  background: rgb(192, 20, 20);
  color: white;
  font-weight: 600;
}
.createBtn:active {
  transform: scale(0.95);
}


