.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 0.4rem;
  align-items: center;
  min-width: 100%;

  .nav-homebtn {
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .nav-homebtn:active {
    transform: scale(0.95);
  }

}
