* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
}
#reels-container {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right bottom,
    rgb(21, 21, 21),
    rgb(39, 38, 38),
    rgb(39, 39, 39)
  );
  padding: 1.2rem;
}
.all-reels {
  height: 100%;
  width: 20rem;
  border: none;
  /* background: rgb(93, 43, 43); */
  margin: auto;
  border-radius: 0.2rem;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  box-shadow: 0 0 15px white;
}
.reels {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;
}
::-webkit-scrollbar {
  display: none;
}
.reels video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.reels-bottom {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 81%;
  left: 6%;
}
.reels-bottom img {
  height: 2.5rem;
  width: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}
.reels-bottom .topBottom {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}
.topBottom h2 {
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
}
.topBottom button {
  padding: 0.2rem;
  border: 2px solid white;
  background: transparent;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  margin-top: 0.3rem;
}
.reels-bottom .desc {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem;
}
.all-icons {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: absolute;
  bottom: 24%;
  right: 2%;
  background: rgba(26, 26, 26, 0);
}
.all-icons h2 {
  font-size: 1.5rem;
  cursor: pointer;
}
.all-icons h6 {
  font-weight: 500;
}
