* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
@property --bgColor {
  syntax: "<color>";
  initial-value: red;
  inherits: false;
}
@keyframes bgChange {
  from {
    --bgColor: rgb(229, 38, 70);
  }
  to {
    --bgColor: blue;
  }
}
.box {
  height: 15rem;
  width: 15rem;
  background-color: var(--bgColor);
  animation: bgChange forwards 5s;
}
