@font-face {
  font-family: f1;
  src: url(./Mona-Sans-870dff5a10221ba7d01cc47eca10d0b2f911bd4196bb941985490bd8c7363cd9.woff2);
}
@font-face {
  font-family: f2;
  src: url(./WFVisualSans-SemiBold-aa0e55353b6a1b897f76a0fcbf5561fa243ce1b8b9f6aebcb5a186f0536713b1.woff2);
}
@font-face {
  font-family: f3;
  src: url(./WFVisualSans-RegularText-46461986901f80620e484e70aa8cbb90ede25a01351d464819a4e47a3f38ea43.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "f1";
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.nav .leftnav > img {
  height: 100px;
  cursor: pointer;
}
.nav {
  height: 80px;
  width: 100%;
  /* background-color: rgb(207, 140, 58); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 50px;
}
.nav .leftnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.leftnav > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.leftnav > a:hover {
  color: rgba(7, 7, 7, 0.53);
}
.rightnav .btn1 {
  padding: 10px 17px;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 700;
  background: transparent;
}
.rightnav .btn1:hover {
  color: rgba(7, 7, 7, 0.53);
}
.rightnav .btn2 {
  padding: 14px 25px;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 700;
  background-color: black;
  color: white;
}
.rightnav .btn2:hover {
  background-color: rgba(28, 28, 28, 0.767);
}
.header {
  height: 84%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 10px 30px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.leftHeader {
  height: 100%;
  width: 50%;
  /* background-color: rgb(125, 235, 235); */
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.leftHeader .topHeader {
  height: 60%;
  width: 100%;
}
.leftHeader .topHeader > h2 {
  font-size: 55px;
  font-weight: 600;
  margin: 10px;
}
.topHeader > p {
  width: 75%;
  padding-left: 15px;
}
.headerbtn {
  width: 80%;
  display: flex;
  gap: 10px;
}
.headerbtn button {
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.headerbtn button.btn1 {
  color: white;
  background-color: #000;
}
.headerInput {
  margin-top: 15px;
  height: 10%;
  width: 100%;
}
.headerInput input {
  width: 75%;
  height: 100%;
  padding-left: 20px;
  margin: 0px 5px;
  border: none;
  border-radius: 50px;
  font-weight: 500;
  background-color: rgb(240, 239, 239);
  color: black;
  position: relative;
}
.headerInput > i {
  position: absolute;
  height: 39px;
  width: 39px;
  left: 34%;
  top: 75%;
  font-size: 30px;
  background-color: #ec5e95;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
.headerPop {
  display: flex;
  gap: 10px;
  margin: 15px 20px;
}
.headerPop h5 {
  font-weight: 600;
  padding-top: 7px;
}
.headerPop > button {
  padding: 6px 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.rightHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  /* background-color: #ec5e95; */
  transition: all ease 0.3s;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
.rightHeader video {
  height: 85%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  /* padding-bottom: 50px; */
  border: 5px solid rgb(207, 207, 207);
  border-radius: 30px;
}
.rightHeader i {
  height: 20%;
  font-size: 35px;
  color: white;
  width: 100%;
  position: absolute;
  bottom: -20%;
  opacity: 0;
  cursor: pointer;
}
.rightHeader:hover i {
  opacity: 1;
  bottom: 4%;
  left: 47%;
  transition: all ease 0.4s;
}
