* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
  background: rgb(62, 61, 61);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.display {
  height: 20rem;
  width: 30rem;
  border: 2px solid white;
  background: linear-gradient(125deg, #000201, #2e0612, #d5d5d5);
  border-radius: 3rem;
  user-select: none;
}
h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 5rem;
  gap: 0.2rem;
}
h4 span {
  color: blue;
  font-weight: 800;
}
.progressBar {
  height: 2.4rem;
  width: 90%;
  background-color: rgb(148, 148, 154);
  border: none;
  border-radius: 2rem;
  margin: 7rem 0rem 2rem 1.4rem;
}
.innerProgress {
  height: 100%;
  width: 0%;
  background: linear-gradient(240deg, #0484f5, #7c838e, #ae1414);
  box-shadow: 0 0 20px rgba(59, 130, 246, 0.8);
  transition: width 0.25s ease-out;
  opacity: 1;
  border-radius: 2rem;
}
.status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
h2 {
  font-size: 2.5rem;
}
button {
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0 0 15px white;
}
button:active {
  scale: 0.85;
}
