* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  width: 100%;
  height: 100%;
  background: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.winnerPic {
  height: 20rem;
  width: 30rem;
  border: 2px solid white;
  border-radius: 3.5rem;
  /* background-image: url(https://library.sportingnews.com/styles/twitter_card_120x120/s3/2024-03/Chennai%20Super%20Kings%20IPL%202024%20032524%2016x9.jpg?itok=xKVDY5xl);
  background-size: cover;
  background-position: center; */
}
h1{
  text-align: center;
  padding-top: 12px;
  opacity: 0.7;
  text-transform: uppercase;
}
button {
  padding: 0.7rem 2rem;
  font-size: 1rem;
  font-weight: 900;
  border: none;
  border-radius: 2rem;
  box-shadow: 0 0 10px white;
  cursor: pointer;
}
