*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,body{
  height: 100%;
  width:100%;
  background-color: rgb(62, 61, 61);
  color: white;
}
main{
  width: 100%;
  display: flex;
  flex-direction: column;

  section.view1{
    width: 100%;
    display: flex;
    flex-direction: column;

    .top{
      width: 100%;
      padding: 2rem 1rem; 
      position: relative;
      img{
        width: 100%;
        object-fit: cover;
        border-radius: 0.6rem;
        opacity: 0.5;
      }
      .text{
        position: absolute;
        overflow-x: hidden;
        bottom: 10%;
        left: 6%;
        // opacity: 0.7;

        h1{
          font-size: 2.5rem;
          font-weight: 400;
          letter-spacing: 0.2rem;
        }
        p{
          margin-top: 0.5rem;
          padding-right: 3.4rem;
          font-size: 1.3rem;
          font-weight: 100;
          line-height: 1.5;
        }
        button>i{
          cursor: pointer;
          width: fit-content;
          padding: 0.5rem;
          border-radius: 50%;
          font-size: 1.5rem;background: rgba(110, 109, 109, 0.541);
          margin-right: 0.3rem;
        }
        button{
              opacity: 0;
              width:fit-content;
              background: transparent;
              cursor: pointer;
              outline: none;
              border: none;
              color: white;
              padding-bottom: 1.5rem;
              text-align: center;
              font-size: 1rem;
              font-weight: 500;
              letter-spacing: 0.1rem; 
        }
      }
    }
  }
  
  section.view2{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -1rem;

    .bottom{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap:1rem;
      padding: 0rem 0.8rem;

      .smallBottom{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem;
        gap: 1rem;
        background-color: rgb(50, 50, 50);
        border-radius: 0.6rem;

        h1{
          font-size: 1.8rem;
          letter-spacing: 0.2rem;
          font-weight: 400;
          opacity: 0.7;
        }
        p{
          font-size: 1rem;
          letter-spacing: 0.1rem;
          font-weight: 100;
          opacity: 0.8;
          padding-bottom: 2rem;
        }
        button>i{
          cursor: pointer;
          width: fit-content;
          padding: 0.5rem;
          border-radius: 50%;
          font-size: 1.5rem;background: rgba(110, 109, 109, 0.541);
          margin-right: 0.7rem;
        }
        button{
          width: fit-content;
          background: transparent;
          cursor: pointer;
          outline: none;
          border: none;
          color: white;
          padding-bottom: 1.5rem;
          text-align: center;
          font-size: 1rem;
          font-weight: 500;
          letter-spacing: 0.1rem;
        }
      }

    }
  }

  }

  @media (min-width:768px) {
    main{


      section.view1{
          width: 100%;

          .top{
            width: 100%;

            .text{
              top: 50%;

              h1{
                font-weight: 100;
                letter-spacing: 0;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
              }

              p{
                font-size: 1.2rem;
                font-weight: 100;
                opacity: 0.7;
                margin-right: 1rem;
              }

              button>i{
                background-color: rgba(80, 78, 78, 0.272);
                padding: 0.5rem;
                font-size: 1rem;
              }

              button{
              opacity: 1;
              margin-top: 1.6rem;
              }
            }
          }
      }

      section.view2{
        width: 100%;
        flex-direction: column;

        .bottom{
          width: 100%;
          flex-direction: row;
          flex-wrap: wrap;

          .smallBottom{
            width: calc(50% - 0.75rem);


          }
        }

      }
    }

  }
